#banner {
    width:100%
}

#jumbotron {
    background-image: url("/static/img/mainHeader.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
}

.logo-navbar {
    height:30px;
}

#navbar-base .nav-link {
    color: #ffffff;
}

#navbar-base .nav-item.active .nav-link,
#navbar-base .nav-item:hover .nav-link {
    color: #8b8b8b;
}