{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ judul }}</title>
</head>
<body>
    <h1>Halaman {{ judul }} - {{ sub_judul }}</h1>
    <h3>Navigasi :</h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li>
            <a href="/blog/">Blog</a>
            <ul>
                <li><a href="/blog/recent">Recent</a></li>
                <li><a href="/blog/popular">Popular</a></li>
            </ul>
        </li>
    </ul>
    
    {% if sub_judul == 'Dashboard' %}
        <img style="width:100%" src="{% static banner %}" alt="">
    {% elif sub_judul == 'Recent Post' %}
        <h2>{{ sub_judul}}</h2>
        <hr>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. </p>
    {% else %}
        <h2>{{ sub_judul}}</h2>
        <hr>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.</p>
    {% endif %}
        
</body>
</html>