{% extends 'base.html' %}
{% load static %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
{% endblock app-css %}
    
{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" id="jumbotron">
    <div class="container">
        <h1 class="display-6">{{ judul }}</h1>
        <p class="lead">Silahkan tulis yang ada di dalam pikiran anda.</p>
    </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
    {% if sub_judul == 'Recent Post' %}
    <h2>{{ sub_judul}}</h2>
    <hr>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type 
        specimen book. </p>
    {% elif sub_judul == 'Popular Post'%}
        <h2>{{ sub_judul}}</h2>
        <hr>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.</p>
    {% endif %}
</div>
{% endblock content %}


{% block overload_content %}
    <ol>
        {% for post in Posts %}
            <li>
                <a href="post/{{ post.slug }}"><h3>{{ post.title }}</h3></a>
                <a href="/blog/{{ post.category }}">{{ post.category }}</a>
                <p>{{ post.body }}</p>
            </li>
        {% endfor %}
    </ol>
{% endblock overload_content %}
    


    