{% extends 'base.html' %}
{% load static %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
{% endblock app-css %}
    
{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" id="jumbotron">
    <div class="container">
        <h1 class="display-6">{{ judul }}</h1>
        <p class="lead">Silahkan tulis yang ada di dalam pikiran anda.</p>
    </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
    <div class="card">
        {% if judul == 'Blog' %}
            <h5 class="card-header">Recent Post</h5>
        {% elif judul == 'Konten Blog' %}
            <h5 class="card-header text-center">{{ post.title }}</h5>
        {% else %}
            <h5 class="card-header">Post</h5>
        {% endif %}
        <div class="card-body">
            {% if judul == 'Blog' or 'Kategori' in judul %}
                <ul class="list-group">
                        {% for post in Posts %}
                        <li class="list-group-item">
                            <a href="post/{{ post.slug }}"><h3>{{ post.title }}</h3></a>
                            <div class="row">
                                <div class="col-lg-1"><a href="/blog/{{ post.category }}">{{ post.category }}</a></div>
                                <div class="col-lg-3"><p>{{ post.created_time }}</p></div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="row">
                    <div class="col-lg-1"><a href="/blog/{{ post.category }}">{{ post.category }}</a></div>
                    <div class="col-lg-3"><p>{{ post.created_time }}</p></div>
                </div>
                <p class="card-text">{{ post.body }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block overload_content %}
    
{% endblock overload_content %}
    


    