{% extends 'base.html' %}
{% load static %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
{% endblock app-css %}
    
{% block jumbotron %}
<div class="jumbotron jumbotron-fluid" id="jumbotron">
    <div class="container">
        <h1 class="display-6">{{ judul }}</h1>
        <p class="lead">Silahkan tulis yang ada di dalam pikiran anda.</p>
    </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
    <div class="card">
        <h5 class="card-header">Create Post</h5>
    
        <div class="card-body">         
            {% if errors != None %}
            {% for error in errors %}
                    <div class="alert alert-danger" style="padding:0.2rem 0.74rem;margin:0.2rem 0 0 0" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}   
            <form method="POST" style="margin-top: 2rem;">
            {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label>Judul</label>
                    </div>
                    <div class="col-sm-10">
                        {{ form.title }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="{{ form.category.id_for_label }}">Kategori</label>
                    </div>
                    <div class="col-sm-10">
                        {% for component in form.category %}
                            <div class="form-check-inline">
                                {{ component.tag }}
                                <label for="{{ form.component.id_for_label }}" class="form-check-label">{{ component.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label>Isi Postingan</label>
                    </div>
                    <div class="col-sm-10">
                        {{ form.body }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block overload_content %}
    
{% endblock overload_content %}
    


    